even numbers

In [2]:
def printEven(n):
    cnt=0;
    sum=0;
    while(cnt!=n):
        if(cnt%2==0):
            sum=sum+cnt;
        cnt=cnt+1;
    return sum;
print(printEven(20));

90

factors list of a given number
12
12346

In [4]:
def factorslist(n):
    i=1;
    while(i!=n):
        if(n%i==0):
            print(i,end=" ");
        i=i+1;
    return;
factorslist(12);

1 2 3 4 6

List in python

list can be written in python with square brackets and each item in the list isseperated by comma operator
list may contain--int,char,float and string

list1=[1,2,3,4,5]
list2={"a","b","c"}
list3={'maths','science',128.265}

In [5]:
lst1=[1,2,3,4,5]
#entire list
print(lst1);
print(lst1[0]);

[1, 2, 3, 4, 5]
1

for loop
syntax:
for in:
<statements>

In [8]:
list2=["amit","anand","aravind"]
for x in list2:
    print(x,end=" ")

amit anand aravind

In [10]:
#list example with particular index
list1=[1,2,32,4,5];
for x in list1:
    print(x,end=" ")
print();
print(list1[4]);
print(list1[0:4]);
print(list1[2:4]);
print(list1[:4]);
print(list1[:2]);

1 2 32 4 5
5
[1, 2, 32, 4]
[32, 4]
[1, 2, 32, 4]
[1, 2]

In [19]:
lst1=[1,2,3,4,5,6,7,8,9,10]
for x in list1:
    print(x,end=" ")
    
print();
print(lst1[1:-1]);
print(lst1[2:-2]);
print(lst1[::2]);
print(lst1[::3]);
print(lst1[::5]);
print(lst1[-2]);
print(lst1[-1]);

1 2 32 4 5
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[1, 6]
9
10

list with range function

In [12]:
lst1=["anil","adarsh","akhil",1];
print(lst1);

lst1[2]=15;  #update the list item
print(lst1);

lst1[3];   #delete the list item
print(lst1);

lst1[1]="gitam";
print(lst1);

lst2=[1,2,3];
print(lst2);
print(lst1+lst2); #Concatination of both the list

['anil', 'adarsh', 'akhil', 1]
['anil', 'adarsh', 15, 1]
['anil', 'adarsh', 15, 1]
['anil', 'gitam', 15, 1]
[1, 2, 3]
['anil', 'gitam', 15, 1, 1, 2, 3]

In [20]:
lst1=[1,2,3,4];
print(lst1);
del lst1[1];
print(lst1);
print(len(lst1));

[1, 2, 3, 4]
[1, 3, 4]
3

list method:
1.append:
this method appends a passed object intio the existing list

In [21]:
lst2=[1,2,3,4,5];
print(lst2);
lst2.append(15);
print(lst2);

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 15]

2.count:-this method returns the count of the object how many times in the list

In [18]:
lst1=[1,2,3,4,5]
print(lst1);
del lst1[2];
print(lst1);
#lst1[4]=15;
print(len(lst1)); #Used to find the len of the list
lst1.append(15);
lst1.append(150);
lst1.append(1);
lst1.append(3);
lst1.append(1);
print(lst1);
print(lst1.count(1))
print(lst1.count(3))

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
4
[1, 2, 4, 5, 15, 150, 1, 3, 1]
3
1

3.index(obj)
Its returns the index of passed object first occurance from the left side

In [24]:
lst1=["Gitam","python","Raptor",1,5,"python","python"];
print(lst1)
lst1.index("python")#Finding the index of object in the list
lst1.index(1)
print(len(lst1))
lst1.insert(2,2019)
print(lst1)
print(len(lst1))
lst1.insert(4,2020)
print(lst1)

['Gitam', 'python', 'Raptor', 1, 5, 'python', 'python']
7
['Gitam', 'python', 2019, 'Raptor', 1, 5, 'python', 'python']
8
['Gitam', 'python', 2019, 'Raptor', 2020, 1, 5, 'python', 'python']

###remove(obj):
the remove method removes the passed object from the first occurance from the left direction

In [28]:
lst1=["Gitam","python","Raptor",1,5,"python","python"]
print(lst1)
lst1.remove("python")
print(lst1)
lst1.remove("python")
print(lst1)

['Gitam', 'python', 'Raptor', 1, 5, 'python', 'python']
['Gitam', 'Raptor', 1, 5, 'python', 'python']
['Gitam', 'Raptor', 1, 5, 'python']

##reverse(obj)
this reverse() reverses objects of list

In [29]:
lst1=["Gitam","python","Raptor",1,5,"python","python"]
print(lst1)
lst1.remove("python")
print(lst1)
lst1.remove("python")
print(lst1)

lst1.reverse()
print(lst1)

['Gitam', 'python', 'Raptor', 1, 5, 'python', 'python']
['Gitam', 'Raptor', 1, 5, 'python', 'python']
['Gitam', 'Raptor', 1, 5, 'python']
['python', 5, 1, 'Raptor', 'Gitam']

##Data Structure

###Searching the data
###linear search 
###binary search
sort the data
store the data

Linear search

In [44]:
def linearsearch(a,tarItem):
    flag=0;
    for i in range(len(a)):
          if a[i]==tarItem:
            flag=1;
            break;
    if(flag!=0):
        print("target item is found")
    else:
        print("target item is not found")
     
a=[16,2,12,6,9,1]
linearsearch(a,61)

target item is not found

In [57]:
def linearsearchduplicate(a,tarItem):
    flag=0
    for i in range(len(a)):
         if a[i]==tarItem:
            flag=flag+1
    print(flag)
     
    a=[9,8,2,14,7,16,2]
    linearsearchduplicate(a,2)

Input:list
output:indexes of target item
test cases:1,5,9,6,5,15,12,5

In [60]:
def linearexample1(a,tarItem):
    flag=0
    for i in range(len(a)):
         if a[i]==tarItem:
            print(i,end=" ")
                           
a=[1,5,9,6,5,15,12,5]
linearexample1(a,5)   #1 4 7

1 4 7

input:a list
output:a set of characters
1,5,9,6,5,15,12,5

In [64]:
def linearexample1(a,tarItem):
    flag=0
    for i in range(len(a)):
         if a[i]==tarItem:
            print("!"*(i+1),end="")
                           
a=[1,5,9,6,5,15,12,5]
linearexample1(a,5)

!!!!!!!!!!!!!!!

In [66]:
def linearexample2(a,tarItem):
    for i in range(len(a)):
        if a[i]==tarItem:
            j=0
            while j!=i+1:
                print("!",end=" ")
                j=j+1
            print(end=" ")
            
a=[1,5,9,6,5,15,12,5]
linearexample2(a,5)

! !  ! ! ! ! !  ! ! ! ! ! ! ! !

input:list
output:As given
test cases:
[15,12,2,9,18,36,45]--60

A list item should be perfect multiple of 3 and 5
Sum of all the list items which is perfect multiple of 3 and 5

In [78]:
def linearexample2(a,tarItem):
    sum=0
    for i in range(len(a)):
       if a[i]%3==0 and a[i]%5==0:
            sum=sum+a[i];
    return (sum);
a=[15,12,2,9,18,36,45]
linearexample2(a,5)

60

input:list
output:formatted output
[1,2,3,4,5]---1 3 8 15 5

In [81]:
def linearformattedOutput(a):
    for i in range(len(a)):
        if i==0 or i==(len(a)-1):
            print(a[i],end=" ")
        else:
            print(a[i-1]*a[i+1],end=" ")
                
a=[1,2,3,4,5]
linearformattedOutput(a);

1 3 8 15 5

input:list
output:formatted output

test cases:
[1,6,9,4,16,19,22]--1 9 19 22

In [95]:
def linearformattedOutput(a):
    for i in range(len(a)):
        if (i==0 or i==len(a)-1): 
          print(a[i],end=" ")
        elif(a[i-1]%2==0 and a[i+1]%2==0):
            print(a[i],end=" ")
            
a=[1,6,9,4,16,19,22]
linearformattedOutput(a)

1 9 19 22

input:number-14569
output:list-[1974]

In [107]:
def  numberlistConversion(n):
     lst=[]
     while n!=0:
        r=n%10
        lst.append(r)
        n=n//10
        lst.reverse()
        print(lst)
        
n=int(input("enter a number"))
numberTolistConversion(n)

enter a number14569
[9]
[6, 9]
[5, 9, 6]
[4, 6, 9, 5]
[1, 5, 9, 6, 4]

input:[1,4,5,6,9]-14569
input-[1,4,5,6,9]-46(you have to consider only even in the list)
input-14569 
output-[4,6]

In [120]:
def numberTolistConversion(n):
    lst=[]
    while (n!=0):
        r=n%10
        if(r%2==0):
            lst.append(r)
        n=n//10
        lst.reverse()
        print(a)
        
n=int(input("enter a number"))
numberTolistConversion(n)

enter a number14569
[1, 6, 9, 4, 16, 19, 22]
[1, 6, 9, 4, 16, 19, 22]
[1, 6, 9, 4, 16, 19, 22]
[1, 6, 9, 4, 16, 19, 22]
[1, 6, 9, 4, 16, 19, 22]

#1.input:[1,2,3,4,5]
output:[1,4,3,16,5]
#2.input:[15,19,12,6,4]
output:[15,34,31,28,20]

In [133]:
def numberTolistConversion(n):
    lst=[]
    sum=0
    for i in range(len(n)):
        if(i==0):
            lst.append(n[i]);
        else:
            lst.append(n[i]+n[i-1]);
    print(lst)
        
n=[15,19,12,16,4]
numberTolistConversion(n)

[15, 34, 31, 28, 20]

In [ ]:
def numberTolistConversion(n):
    lst=[]
    for i in range(len(a)):
        if(i==2):
            lst.append(a[i]);
        else:
            lst.append(a[i]+a[i-1]);
        print(lst)
        
n=[15,19,12,6,4]
numberTolistConversion(n)